<h1>Welcome to Board Game Night</h1>
<h4> What is it?</h4>
<ul>
  <li>Board Game Library Manager and EWvent Planner</li>
  <li>My firends can RSVP to Game Night</li>
  <li>RSVP'd players game libraries will pooled together</li>
  <li>Attending Players will vote on available games to play</li>
</ul>

<h4>What is It Currently?</h4>
<ul>
  <li>Game-list component & Game-detail component</li>
  <li>Click a game & get the detailed view</li>
  <li>Application is hosted with Google Firebase</li>
  <li>Game data hosted with Firebase Real Time Database </li>
  <li>lots of currently unused code organized poorly -will fix</li>
</ul>



<h4>Current Work in Progress</h4> 
<h6>notes so I can host an unfinished project for intrested parties to see that I put that work in! Hire Me</h6> 
<ul>
  <li>.Net Core - working on implementing repository pattern for existing controllers</li>
  <li>.Net Core - SQL database, currently a LocalDb - no idea how to host it yet.</li>
  <li>.Net Core - mostly repositoty work on dotnet side</li>
  <li>Angular 6 - re-deploy this app with basic functionality until can connect the two</li>
  <li>
    <a href="https://github.com/leederacola/board-game-night" target="blank">Boarg Game Night! Github Repository</a>
  </li>
  <li>
    <a href="https://github.com/leederacola/Core-MVC-API" target="blank">Net Core MVC Admin / Web API Github Repository </a>
  </li>
</ul>