<h5>Game Library</h5>

<div class="game-list-toggle">
    <button class="btn" (click)="apiGameList()">All</button>
    <button class="btn">Event</button>
    <button class="btn" (click)="GetPlayerGames()">Player: {{selectedPlayerId}}</button>
</div>


<div class="vertical-menu">
    <div class="games">
        <div *ngFor="let game of games" routerLink="/detail/{{game.gameId}}">
            {{game.title | slice:0:21}}
            <span class="badge-min">{{game.minPlayer}}</span>
            <span class="badge-max">{{game.maxPlayer}}</span>
        </div>
    </div>
</div>