<div class="container">
  <div class="col">
    <h1>Event Players</h1>
    <button>Add Player</button>
  </div>
  <div class=col>
    <div class="card-deck">

      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>

    </div>
  </div>
</div>