<div class="row">

  <div class="col">
    <h5>Player:
      <select (change)="updateSharedPlayerId($event)" [(ngModel)]="selectedPlayer">
        <option *ngFor="let p of players" [ngValue]="p">{{p.name}}</option>
      </select>
    </h5>

    <h6 *ngIf="selectedPlayer">{{selectedPlayer.name}} | {{selectedPlayer.playerID}}</h6>
    <h6>selectedPlayerId: {{selectedplayerId}}</h6> 
  </div>

  <div class="col">
    <img src='../../../assets/img/landscape-1478879153-die-hard.jpg'>
  </div>

</div>