<!-- 
<div class="container-fluid">
  <div style="color: blue;">
<h1>from firebase realtime data base</h1>
  </div>
 
  <nav>
    <a routerLink="firegames" class="btn btn-primary active" role="button" routerLinkActive="active">game list</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
  </nav>
  <router-outlet></router-outlet>
</div> -->

<app-trial></app-trial>

<!-- <div class="container">
    <app-dashboard></app-dashboard>
<hr>
    <div class="row">
        <div class="col-12 col-lg-4">
            <app-games></app-games>
        </div>
        <div class="col-12 col-lg-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
