



<div class="container">
    <div class="container">
        <app-dashboard></app-dashboard>
    </div>

    <div class="row">
        <div class="col-12 col-md-3">
            <app-games></app-games>
        </div>
        <div class="col-12 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- <h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/games">Games</a>
</nav> -->
<!-- 
<router-outlet></router-outlet>
<app-messages></app-messages> -->