<!-- <h2>Games!</h2>
<ul class="games">
  <li *ngFor="let game of games">
    <a routerLink="/detail/{{game.id}}">
    <span class="badge">{{game.id}}</span> {{game.title}}
    </a>
  </li>
</ul> -->

<h2>Games!</h2>
<div class="vertical-menu">
    <div class="games">
        <div *ngFor="let game of games">
          <a routerLink="/detail/{{game.id}}">
          <span class="badge">{{game.id}}</span> 
          {{game.title}} 
          <!-- <span class="badge">{{game.minPlayer}}</span>
          <span class="badge">{{game.maxPlayer}}</span> -->
          </a>
        </div>
    </div>
</div>



