/* gamesComponent's private CSS styles */
.games {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.games div {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  border-radius: 4px;
}

.games div:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.games a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.games a:hover {
  color:#607D8B;
}

.games .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.3em 0.3em;
  background-color: #607D8B;
  position: relative;
  min-width: 16px;
  margin-right: .8em;

}
.games .badge-min {

  float:left;
  font-size: small;
  color: white;
  padding: 0.3em 0.3em;
  background-color: rgb(96, 139, 107);
  position: relative;
  min-width: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.games .badge-max{
  float:left;
  font-size: small;
  color: white;
  padding: 0.3em 0.3em;
  background-color: rgb(139, 96, 96);
  position: relative;
  min-width: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  margin-right: .8rem;
}


.vertical-menu {
  width: auto;
  height: 600px;
  overflow-x: auto;
}