
<h5>My Games</h5>
<button (click)="getGamesList()"> all</button>
<button (click)="gamesByCtMin()"> filter Min</button>
<button (click)="gamesByCtMax()"> filter Max</button>

<!-- <h5>Shared Player Count: {{playerCount}}</h5> -->
<div class="vertical-menu">
    <div class="games">
        <div *ngFor="let game of fireGamesList"
          routerLink="/detail/{{game.key}}">
          {{game.title}} 
          <span class="badge-min">{{game.minPlayer}}</span>
          <span class="badge-max">{{game.maxPlayer}}</span>
        </div>
    </div>
</div>
