<h4>Welcome to Board Game Night / Board Game Buddy</h4>
<h5>work in progress</h5>
<h5>basics</h5>
<ul>
  <li>clicking game link will display details component</li>
  <li>Schedule Game Night (not implemented) current no saved data</li>
  <li>Add Players to an event - player objects will have library of games</li>
  <li>Add Games to an event - game list component wil update to show only game from attending players library</li>
  <li>Games List - toggle between all friends games and filtered games (removes 4 player max games if 5 people are added)</li>

</ul>
