<div *ngIf="game">
  <div class="row">
    <div class="col-12 col-md-5">
        <h1>{{game.title}}</h1>
       
        <h4>Min Player: {{game.minPlayer}}</h4>
        <h4>Max Player: {{game.maxPlayer}}</h4>
        <h6>Description: {{game.description}}</h6>
    </div>
    <div class="col-12 col-md-7">
        <img src="{{game.imagePath}}" class="img-fluid" alt="Responsive image" />
    </div>

  </div>
</div>


  <!-- <div class="grid-container">
    <div class="column-detail">
      
    </div>


    <div class="column-img">
      <!-- <img class="box-art" [src]="this.imagePath"/> -->
     

  

<!-- container end -->


<!-- <h2>Game Detail</h2>

<div class="grid-container">
  <div *ngIf="game">

    <h2>{{game.title}} Details</h2>

    <div>
      <label>name:
        <input [(ngModel)]="game.title" placeholder="title" />
      </label>
      <div>
        <span>id: </span>{{game.id}}</div>
      <h4>Players: {{game.minPlayer}} - {{game.maxPlayer}}</h4>
    </div>

  </div>
  <div class="column-game-img">
    <img class="box-art" src="../../assets/img/bloodrage.jpg">
  </div>
</div> -->
<!-- container end -->

<!-- <div class="row">
  <div class="column-game-info">
      <div *ngIf="game">

          <h2>{{game.title}} Details</h2>
          <div><span>id: </span>{{game.id}}</div>
          <div>
            <label>name:
              <input [(ngModel)]="game.title" placeholder="title"/>
            </label>
          </div>
      
        </div>
  </div>
  <div class="column-game-img">
    <img src="../../assets/img/bloodrage.jpg">
    </div>

</div> -->

<button (click)="goBack()">go back</button>