<div class="detail-header">
  <h1>Game Detail</h1>
</div>

<div *ngIf="game">
  <div class="grid-container">
    <div class="column-detail">
      <h1>{{game.title}}</h1>
      <h3>id: {{game.id}}</h3>
      <h3>Min Player: {{game.minPlayer}}</h3>
      <h3>Max Player: {{game.maxPlayer}}</h3>
    </div>


    <div class="column-img">
      <!-- <img class="box-art" [src]="this.imagePath"/> -->
      <img src="{{game.imagePath}}" />

    </div>
  </div>
</div>
<!-- container end -->


<!-- <h2>Game Detail</h2>

<div class="grid-container">
  <div *ngIf="game">

    <h2>{{game.title}} Details</h2>

    <div>
      <label>name:
        <input [(ngModel)]="game.title" placeholder="title" />
      </label>
      <div>
        <span>id: </span>{{game.id}}</div>
      <h4>Players: {{game.minPlayer}} - {{game.maxPlayer}}</h4>
    </div>

  </div>
  <div class="column-game-img">
    <img class="box-art" src="../../assets/img/bloodrage.jpg">
  </div>
</div> -->
<!-- container end -->

<!-- <div class="row">
  <div class="column-game-info">
      <div *ngIf="game">

          <h2>{{game.title}} Details</h2>
          <div><span>id: </span>{{game.id}}</div>
          <div>
            <label>name:
              <input [(ngModel)]="game.title" placeholder="title"/>
            </label>
          </div>
      
        </div>
  </div>
  <div class="column-game-img">
    <img src="../../assets/img/bloodrage.jpg">
    </div>

</div> -->

<button (click)="goBack()">go back</button>