

<div>
  <select [(ngModel)]="selectedEvent">
    <option *ngFor="let event of eventList" [ngValue]="event">{{event.title}}</option>
  </select>
</div>


<ul>
  <li>{{selectedEvent.title}}</li>
  <li>{{selectedEvent.date}}</li>
  <li>{{selectedEvent.time}}</li>
  <li>{{selectedEvent.notes}}</li>
</ul>

<ul>
  <li *ngFor="let k of keys">
    {{k}}
    </li>
</ul>
      
 
<!-- <div class="row">
  <div class="col-3">
    <div>
        Event Details
    </div>
    <button class="btn" (click)="createEventKey()" >Pending/New Toggle</button>
    <button  class="btn">Event Games</button>
    <button  class="btn">Players</button>
    <p> Date:</p>
    <p> Location:</p>
    <p> Top Game:</p>


  </div>
  <div class="col">
    <!-- old way with second named router cant use parent to child data sharing? -->
    <!-- <router-outlet name="eventRouter"></router-outlet> -->
    <!--
    <app-event-games></app-event-games>
    <app-event-players></app-event-players>
 
  </div>
</div> -->

<!-- 
<h3>Create event</h3>
<div>
  <form>
    <div class="form-group">
      <label for="name">event title</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="newEvent.title" name="name">
    </div>
    <div class="form-group">
        <label for="name">data</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="newEvent.date" name="name">
      </div>
      <div class="form-group">
          <label for="name">time</label>
          <input type="text" class="form-control" id="name" required [(ngModel)]="newEvent.time" name="name">
        </div>
        <div class="form-group">
            <label for="name">notes</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="newEvent.notes" name="name">
          </div>


<button (click)="createEventKey()">add new</button>
  </form>
</div>

 -->

